.photoblog{
  width: 75%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}

.photoblog .photo{
  display: block;
	margin: 5px;
}

.photo img{
  width: 100%;
  height: auto;
  z-index: 0;
}

.photo img:hover{
  opacity: .7;
}

#smallphotos{
  width: 35%;
  float: left;
  clear: left;
}

#featured{
  width: 65%;
  float: right;
  clear: right;
}

#myfooter{
  display: none;
}

#featured img{
  width: 100%;
  height: auto;
}

#myCarousel{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, .85);
  opacity: 1;
  z-index: 1;
}

.slides{
  display: block;
  position: relative;
  margin: auto;
  height: 95%;
  width: 80%;
  max-width: 1200px;
}

.slides img{
  display: block;
  margin: auto;
  vertical-align: middle;
  padding-top: 2%;
}

#prev, #next{
  position: fixed;
  top: 40%;
  width: auto;
  padding: 50px;
  z-index: 4;
  display: none;
  opacity: .7;
}

#prev img, #next img{
  width: 40px;
  vertical-align: middle;
}

#prev:hover, #next:hover{
  opacity: .5;
  cursor: pointer;
}

#next{
  right: 0;
}


@media only screen and (max-width: 480px) {
  #featured{
    width: 100%;
  }

  #smallphotos{
    width: 100%;
  }

  #featured img{
    width: 100%;
    height auto;
  }

  .photo img{
    width: 100%;
    height: auto;
  }

  .photoblog{
      width: 90%;
      margin: auto;
  }

  .slides img{
    padding-top: 5%;
  }

  .slides{
    width: 90%;
  }

  #prev, #next{
    top: 75%;
  }

  #prev img, #next img{
    width: 20px;
  }

}
